uploadPath=/web/guest/upload
visualizePath=/web/guest/visualize
welcomePath=/web/guest/welcome
analyzePath=/web/guest/analyze

viewECGListMulti=A1576:multiLeadForm:returnToList
centerMulti=A1576:multiLeadForm:voltCenterButtonMulti
centerModeMulti=A1576:multiLeadForm:voltCenterButtonMultiMode
centerScaleMulti=A1576:multiLeadForm:voltCenterNScaleButtonMulti
resetMulti=A1576:multiLeadForm:voltResetButtonMulti
fillScreenMulti=A1576:multiLeadForm:fillScreenTestButtonMulti

firstMulti=A1576:multiLeadForm:moveToBegin
lastMulti=A1576:multiLeadForm:moveToLast
backMulti=A1576:multiLeadForm:moveBack
nextMulti=A1576:multiLeadForm:moveNext
jumpToMulti=A1576:multiLeadForm:jumpTo
secondsBoxMulti=A1576:multiLeadForm:newMilliSec